DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=backend_db
SECRET_KEY=0ff0cb9fcb99ea8d9f8a1cf4fce89e39d08bbd7e0d1b8d25f22c19f9f3ab74a9
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_ORIGINS=http://localhost:3000,http://localhost:5173
